@font-face {
    font-family: 'norwester';
    src: url('/typo3conf/ext/template_grillcamp/Resources/Public/Fonts/norwester/webfonts/norwester.ttf') format('truetype');
}

.button {
    background: #ed1c24;
    padding: 7px;
}

a .button div {
    font-family: norwester;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    color: #ffffff;
    border: #ffffff solid 2px;
    padding: 7px 5px 4px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:hover .button div {
    color: darkred;
    text-decoration: none !important;
    border: darkred solid 2px;
}

